.box {
    display: inline-block;       
    border: 1px solid blueviolet;
    width: 18px;
    height: 18px;
    /*
    margin-left: -1px;
    margin-bottom: -1px;
    */
    }
  
  .off {
    background-color: aliceblue;
  }
  
  .on {
    background-color: cornflowerblue;
  }
    
  .box:hover { 
    background: yellowgreen;
  }
  
  .center {
    margin: auto;
    /*
    display: table;
    */
    margin-top: 10px;
  }
  
  .grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    /*
    box-shadow: 0px 0px 20px white;
    margin-top: 20px;
    */
  }
    
  h1, h2, h3, h4 {
    color: green;
    margin: auto;
    text-align: center;
    width: 50%;
    /*
    margin-top: 10px;
    */
  }
  
  h4 {
    
    margin-top: 0px;
    
  }