
.box {     
  border: 1px solid violet;
  width: 15px;
  height: 15px;
  }

.off {
  background-color: aliceblue;
}

.on {
  background-color: magenta;
}
  
.box:hover { 
  background: coral;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}
  
h1, h2, h3, h4 {
  color: magenta;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}